mixin logo()
    picture.logo
        source(srcset="/assets/img/logo2x.webp" media="(max-width: 1199px)" type="image/webp")
        source(srcset="/assets/img/logo2x.png" media="(max-width: 1199px)" type="image/png")
        img(src='/assets/img/logo.svg', alt='Логотип компании')