.authorization {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100vh;
    background: $body-bg url('/assets/img/bg.jpg') no-repeat center;
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 45px;

    @media (max-width: 420px) {
        padding: 20px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5)
    }

    &__wrap {
        position: relative;
        width: 100%;
        max-width: 626px;
        border-radius: 4px;
        box-shadow: 0 2px 32px rgba(0,0,0,0.5);
        background: rgba(#fff, .1) url('/assets/img/wrap.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 30px 30px 45px;

        @media (max-width: 420px) {
            padding: 20px 20px 25px;
        }
    }

    &__back {
        a {
            display: inline-flex;
            align-items: center;
            font-family: HelveticaNeue;
            font-size: 10px;
            color: #FFFFFF;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;

            svg {
                width: 15px;
                height: 9px;
                margin-right: 7px;
                opacity: 0.5;
                transition: .2s ease-in-out;
            }

            span {
                opacity: 0.8;
                transition: .2s ease-in-out;
            }

            &:hover,
            &:focus {
                text-decoration: none;
                span {
                    opacity: 1;
                }

                svg {
                    opacity: 1;
                }
            }
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
    }

    button {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 151px;
        margin: 25.5px auto 0;
        padding: 15px 15px 16px;
        border: 1px solid #fff;
        border-radius: 25px;
        font-size: 12px;
        text-transform: uppercase;
        background: transparent;
        font-weight: 500;
        letter-spacing: 2.53px;
        color: #fff;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: #fff;
            color: #000;
        }
        &:disabled {
            color: rgba(#fff, .2);
            border-color: rgba(#fff, .2);
            cursor: not-allowed;
            
            &:hover,
            &:focus {
                color: rgba(#fff, .2);
                border-color: rgba(#fff, .2);
                background-color: transparent;
            }
        }
    }
}
