.authorization
    .authorization__wrap
        .authorization__back
            a(href='#', title='Вернуться на предыдущую страницу')
                svg(viewbox="0 0 15 9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                        g(transform="translate(-382.000000, -254.000000)" stroke="#FFFFFF")
                            g(transform="translate(383.000000, 255.000000)")
                                polyline(points="4 0 0 3.5 4 7")
                                path(d="M0.180555556,3.5 L12.8194444,3.5" stroke-linecap="square")


                span Вернуться
        .authorization__logo
            +logo()
        form.authorization__form(action='#')
            .form__field--phone
                +input(authorization[0])
            .form__field--password
                +input(authorization[1])
            .form__bottom
                .form-field--toggle
                    +input(authorization[2])
                a(href='#', title='Открыть форму восстановления пароля') Забыл пароль
            button(type='submit') Войти