.field {
    display: flex;
    margin: 15px auto 0;
    line-height: 1;
    font-family: $font-family-base;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(#fff, .4);
    letter-spacing: 0;
    text-align: center;
    padding: 12px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid rgba(#fff, .4);
    width: 100%;
    max-width: 369px;
    transition: .2s ease-in-out;
    position: relative;
    &::placeholder { 
        line-height: 1;
        font-family: $font-family-base;
        font-size: 18px;
        letter-spacing: 1px;
        color: rgba(#fff, .4) 
    }
    &:focus {
        background-color: #fff;
        border-color: #fff;
        box-shadow: 0 1px 3px rgba(#000, .5);
        color: #d8d8d8;

        &::placeholder { 
            color: #d8d8d8;
        }
    }
    @media (max-width: 420px) {
        font-size: 16px;
    }

    &--phone {
        margin-top: 20px;
    }
    
}

.form {
    &__field {
        &--phone,
        &--password {
            position: relative;
            width: 100%;
            max-width: 369px;
            margin: 0 auto;

            &.active {
                .field {
                    background-color: #fff;
                    border-color: #fff;
                    box-shadow: 0 1px 3px rgba(#000, .5);
                    color: #d8d8d8;

                    &::placeholder { 
                        color: #d8d8d8;
                    }
                }

                &.success {
                    .field {
                        color: #000;
                    }
                }
            }

            &.error {
                .field {
                    color: #b40000;
                    background-color: #fff;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    width: 32px;
                    height: 32px;
                    background: url('/assets/img/error.svg') no-repeat;
                    background-size: cover;
                    background-position: center center;

                    @media (max-width: 420px) {
                        width: 20px;
                        height: 20px;
                        top: -10px;
                    } 
                }
            }

            &.success {
                .field {
                    color: #fff;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 23px;
                    top: 16px;
                    width: 18px;
                    height: 17px;
                    background: url('/assets/img/success.svg') no-repeat;
                    background-size: cover;
                    background-position: center center;

                    @media (max-width: 420px) {
                        width: 20px;
                        height: 20px;
                        top: -10px;
                        right: 10px;
                        border-radius: 50%;
                        padding: 2px;
                        background-color: green;
                        background-size: 10px;
                    } 
                }
            }
        }
    }
}
.form-field {
    &--toggle {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
        width: 50%;

        .field {
            margin: 0;
            width: auto;
        }
    }
}

.form__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 20px auto 0;
    max-width: 326px;

    @media (max-width: 420px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    a {
        margin-left: auto;
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.3);
        transition: .2s ease-in-out;
        font-size: 16px;

        @media (max-width: 420px) {
            margin: 20px auto 0;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            border-bottom: 1px solid rgba(#fff, 1);
        }
    }
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;

    +label {
        position: relative;
        padding: 0 0 0 52px;
        cursor: pointer;
        color: #fff;

        &:before {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            width: 44px;
            height: 24px;
            border-radius: 25px;
            background: transparent;
            border: 1px solid #fff;
            transition: .2s;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 4px;
            width: 22px;
            height: 16px;
            border-radius: 25px;
            background: #FFF;
            opacity: 0.3;
            transition: .3s ease-in-out;
        }
    }

    &:checked {
        +label {
            &:before {
                background: transparent;
            }
            &:after {
                left: 17px;
                opacity: 1;
            }
        }
    }

    &:focus {
        +label {
            &:before {
                box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
            }
        }
    }
}
