mixin input(data)
    if data.type === 'radio'
        input.checkbox(id=data.id, name=data.name, type="checkbox")
        label(for=data.name)=data.label
    else
        input.field(
            class=data.class?data.class:'', 
            id=data.id, 
            type=data.type, 
            name=data.name, 
            value=data.value, 
            placeholder=data.placeholder, 
            required=data.required,
            minlength=data.min
            )