include ../components/components.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='description' content='Страница входа')
        title Аавторизация на сайте
        link(rel='stylesheet', href='/assets/css/style.min.css')
        +favicon()
        block styles
    body
        main
            block content

        script(src='/assets/js/vendor.min.js' type='text/javascript')
        script(src='/assets/js/script.min.js' type='text/javascript')
        block scripts
